<ion-header>
  <ion-toolbar>

    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"
        text= "volver"
        color= "primary"
        mode= "ios">
     </ion-back-button>
    </ion-buttons>

    <ion-title>Tipos de Soldaduras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="pagina_titulo" >Soldaduras</ion-card-title>
    </ion-card-header>
    <ion-card-content>
     Bienvenido a la seccion de soldadura aqui podra informarse de las direfentes soldaduras y sus funciones principales al momento de realizar algun tipo de trabajo.
    </ion-card-content>
    <img src="/assets/soldar.jpg">
  </ion-card>



  <ion-card>
    <ion-card-title class="titulo"> Soldadura Tipo Arco</ion-card-title>
      <ion-card-content>
        <img src="/assets/arco_soldar.jpg">
        La técnica de <ion-text color="primary"><i>soldadura por Arco eléctrico</i></ion-text> consiste en la fusión de un metal 
        a temperatura elevada por empleo de un diferencial de potencial y valor de intensidad de corriente eléctrica determinado.
        Por medio de esta diferencia de potencial el aire se ioniza y los electrones son transportados a través de los <ion-text color="primary"><i>electrodos</i></ion-text>
        y la pieza a <ion-text color="primary"><i>soldar</i></ion-text>. El calor generado...
        <ion-button href= "https://www.demaquinasyherramientas.com/soldadura/soldadura-por-arco" expand="block" fill="clear" shape="round">
          Leer Más...
        </ion-button>
    
      
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title class="titulo">Soldadura Tipo MIG/MAG</ion-card-title>
      <ion-card-content>
       <img src="/assets/MIG.jpg"> 
        La soldadura <ion-text color="primary"><i>MIG/MAG</i></ion-text>Es un soldeo por fusión por arco que utiliza un alambre electrodo macizo, 
        en el cual el arco y el baño de soldadura se protegen de la atmósfera por medio de gas suministrado por una fuente externa.
        Está dividido en dos tipos: <ion-text color="primary"><i>MIG (el gas protector es inerte) </i></ion-text>
        y <ion-text color="primary"><i>MAG (el gas protector es activo)</i></ion-text>. Actualmente...
        <ion-button href= "https://www.fronius.com/es-es/spain/tecnologia-de-soldadura/el-mundo-de-la-soldadura/soldadura-mig-mag" expand="block" fill="clear" shape="round">
          Leer Más...
        </ion-button> 
    
      
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title class="titulo">Soldadura Tipo TIG</ion-card-title>
      <ion-card-content>
        <img src="/assets/TIG.jpg">
        El proceso de <ion-text color="primary"><i>soldadura TIG</i></ion-text> dentificado por la AWS 
        como Gas Tungsten Arc Welding-GTAW, es un proceso de <ion-text color="primary"><i>soldadura por arco eléctrico, </i></ion-text>
        que se establece entre un electrodo de tungsteno y la pieza a soldar, bajo la protección de un 
        <ion-text color="primary"><i>gas inerte</i></ion-text>. que evita...
        <ion-button href= "https://www.westarco.com/westarco/sp/education/blog/proceso-de-soldadura-tig.cfm" expand="block" fill="clear" shape="round">
          Leer Más...
        </ion-button>
      
    </ion-card-content>
  </ion-card>
