<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class= "ion-background-body " no-scroll padding >
  <form class="ion-form" >

    <ion-item>
      <ion-label>Email: </ion-label>
      <ion-input type="email" placeholder="Email"
                name="email" [(ngModel)]= "email"
                pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                required>
      </ion-input>
    </ion-item>


    <ion-item>
      <ion-label>Password: </ion-label>
      <ion-input type="password" placeholder="Contraseña"
                name="password" [(ngModel)]= "password"
                required>

      </ion-input>
    </ion-item>

    <ion-button (click)='login()' expand='block'>Iniciar Sesion</ion-button>

    <ion-button (click)='signup()' href='/regist' expand='block'>Crear Usuario</ion-button>

  </form>
</ion-content>
