<ion-header>
  <ion-toolbar>
  
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"
        text= "volver"
        color= "primary"
        mode= "ios">
     </ion-back-button>
    </ion-buttons>

    <ion-avatar slot="star">
      <img src="assets/soldadura.jpg">
    </ion-avatar>

    <ion-title>ACERO</ion-title>

  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="pagina_titulo">Tipos De Aceros</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Esta es la seccion de aceros o metales que quieres conocer, para informarte al respecto.
    </ion-card-content>
  </ion-card>


  <ion-card class="contenido">
    <ion-card-title class="titulo">Acero Dulce</ion-card-title>
      <ion-card-content>
      <img src="/assets/dulce.jpg">  
        El acero dulce representa la parte más grande de producción de acero y se utiliza en un amplio rango de aplicaciones. 
        Por lo general, el acero dulce, o al carbono, es rígido y resistente. Además, exhibe ferromagnetismo 
        (es decir, es magnético). Esto significa que se utiliza de manera extensiva en motores y en electrodomésticos. 
        Soldar acero al carbono con un contenido de carbono mayor a 0.3 % requiere tomar precauciones 
        especiales. Pero presenta mucho menos problemas que el <ion-text color="primary"><i>acero inoxidable.</i></ion-text>. 
        <ion-button href= "https://jnaceros.com.pe/blog/diferencia-acero-inoxidable-acero-dulce" expand="block" fill="clear" shape="round">
          Leer más...
        </ion-button>
          
      
      
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title class="titulo">Acero Inoxidable</ion-card-title>
      <ion-card-content>
       <img src="/assets/inoxidable.jpg"> 
        Se define como una  <ion-text color="primary"><i>aleación de acero inoxidable</i></ion-text> si contiene un mínimo de 11.5 % de cromo. Este tipo no se mancha, 
        corroe u oxida con tanta facilidad como el acero ordinario. 
        Sin embargo, no es aprueba de manchas. Existen diferentes grados y acabados de acero 
        inoxidable que se adecuan al ambiente con el cual estará sujeto de por vida.
        El acero inoxidable se diferencia del <ion-text color="primary"><i>acero al carbono</i></ion-text>. por la cantidad 
        presente de cromo. El acero al carbono se oxida cuando se expone al aire y a la humedad.
        <ion-button href= "https://jnaceros.com.pe/blog/diferencia-acero-inoxidable-acero-dulce/" expand="block" fill="clear" shape="round">
          Leer Más...
        </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title class="titulo">Acero Laminado</ion-card-title>
      <ion-card-content>
       <img src="/assets/laminado.jpg"> 
        El acero que sale del <ion-text color="primary"><i>alto horno</i></ion-text> de colada de la siderurgia es convertido 
        en acero bruto fundido en lingotes de gran peso y 
        tamaño que posteriormente hay que <ion-text color="primary"><i>laminar </i></ion-text>
        para poder convertir el acero en los múltiples tipos de perfiles 
        comerciales que existen de acuerdo al uso que vaya a darse del mismo.
        <ion-button href= "https://es.wikipedia.org/wiki/Acero_laminado" expand="block" fill="clear" shape="round">
          Leer Más...
        </ion-button>
        
      
    </ion-card-content>
  </ion-card>
</ion-content>